# Coris Block Tapping Task #

In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('/Users/paulpacheco/Desktop/Test Data Files/mathanxietyandperformance_corsiblocktappingtaskmqp_raw_2203040002.csv')
df

,build,computer.platform,date,time,subject,group,session,ageGroup,blockcode,blocknum,...,seqlength,seqstring,respstring,response,ACC,latency,ncorrectinblock,ncorrecttotal,blockspan,totalscore
0,6.5.2,mac,2022-01-27,12:57:13,23140554,2,1,not known,corsiblock,2,...,2,85,8,8,0,1712,0,0,0,0
1,6.5.2,mac,2022-01-27,12:57:13,23140554,2,1,not known,corsiblock,2,...,2,85,85,5,0,654,0,0,0,0
2,6.5.2,mac,2022-01-27,12:57:13,23140554,2,1,not known,corsiblock,2,...,2,85,85,Done,1,1234,1,1,2,2
3,6.5.2,mac,2022-01-27,12:57:13,23140554,2,1,not known,corsiblock,2,...,2,64,6,6,0,1031,1,1,2,2
4,6.5.2,mac,2022-01-27,12:57:13,23140554,2,1,not known,corsiblock,2,...,2,64,64,4,0,644,1,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762,6.5.2,mac,2022-03-02,13:32:56,325562366,1,1,not known,corsiblock,7,...,7,5792846,5794,4,0,580,0,10,6,60
763,6.5.2,mac,2022-03-02,13:32:56,325562366,1,1,not known,corsiblock,7,...,7,5792846,57948,8,0,659,0,10,6,60
764,6.5.2,mac,2022-03-02,13:32:56,325562366,1,1,not known,corsiblock,7,...,7,5792846,579482,2,0,599,0,10,6,60
765,6.5.2,mac,2022-03-02,13:32:56,325562366,1,1,not known,corsiblock,7,...,7,5792846,5794826,6,0,622,0,10,6,60
766,6.5.2,mac,2022-03-02,13:32:56,325562366,1,1,not known,corsiblock,7,...,7,5792846,5794826,Done,0,748,0,10,6,60

In [18]:
df=df[['subject','group','ncorrecttotal','blockspan','totalscore']]
df

       subject  group  ncorrecttotal  blockspan  totalscore
0     23140554      2              0          0           0
1     23140554      2              0          0           0
2     23140554      2              1          2           2
3     23140554      2              1          2           2
4     23140554      2              1          2           2
..         ...    ...            ...        ...         ...
762  325562366      1             10          6          60
763  325562366      1             10          6          60
764  325562366      1             10          6          60
765  325562366      1             10          6          60
766  325562366      1             10          6          60

[767 rows x 5 columns]

In [19]:
df.drop_duplicates(subset=['subject'], keep='last')

       subject  group  ncorrecttotal  blockspan  totalscore
65    23140554      2             10          6          60
130  664692613      1              9          6          54
180  599191245      2              7          5          35
263  481626968      2             12          7          84
346  299228195      2             11          7          77
450  464449427      1             13          8         104
534  828122693      1             12          7          84
616  835352491      2             10          7          70
699  956226984      1             11          7          77
766  325562366      1             10          6          60

This data set is complete and does not need to be merged by subject ID